* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}



.time_registration, .profile_list, .calender_container, .task_list_page, .archived_case_list_page, .case_list_page, .in_house_time {
    width: $page-content-width;
    margin: 50px auto;
}

.add_new_link {
    display: none;
    cursor: pointer;
    img {
        width: 16px;
        margin-right: 5px;
    }
    input {
        border: none;
        background: none;
        color: #149DB9;
        font-size: 18px;
        width: fit-content !important;
        cursor: pointer;
    }
}

/*---------------------------------
    Time registration navbar
---------------------------------*/
.time_registration_navbar, .in_house_time_navbar {
    width: 100%;
    border-bottom: 3px solid #ace2ec;
    height: 45px;
    display: flex;
    align-items: flex-end;
    button {
        border: none;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        width: 100%;
        border: 1px solid $time_registration_navbar_border;
        font-size: 14px;
        cursor: pointer;
        &:hover {
            background-color: $time_registration_navbar_active_hover;
        }
    }
    .active_time_registration_page {
        background-color: $time_registration_navbar_active;
    }
}

/*-------------------------------
        Employee lists
-------------------------------*/
.employee_list, .external_list, .machine_list, .case_list, .task_list { //Aller yderste der har alt
    flex-direction: column;
    p {
        padding: 10px 0 10px 15px;
    }
    .employee_list_header, .machine_list_header, .external_list_header, .case_list_header, .task_list_header { //div rundt om ALLE headers
        border-bottom: 3px solid $th_border_bottom;
        padding: 5px 0;
        font-weight: 600;
        margin-top: 30px !important;
        border: 1px solid $th_border_bottom;
        .employee_mobile_headers, .case_mobile_headers { //Når der er flere headers i mobil versionen der skal vises
            display: flex;
            .employee_name_header { //Første header på alle headers
                width: 80%;
            }
        }
        .employee_all_headers, .machines_all_headers, .external_all_headers, .case_all_headers, .task_all_headers { //div rundt om navn- og initialer-header kun på ansatte siden
            display: flex;
            flex-direction: row;
            display: none;                 
        }
    }
    .case_mobile_headers, .case_information {
        p {
            width: 30%;
        }
    }
    .employee_data_row, .external_data_row, .machine_data_row, .case_data_row, .task_data_row {
            border-left: 1px solid $light-sec-nav;
            border-right: 1px solid $light-sec-nav;
        .mobile_employee_information, .mobile_external_information, .machine_information, .case_information, .task_information { //Den øverste bar, som kan ses af data, f.eks. Ibsen, Steen - Si
            display: flex;
            border-bottom: 2px solid $tr_border_bottom;
            cursor: pointer;    
            .employee_name, .external_name, .machine_name {
                width: 80%;
            }
        }
        .employee_dropdown_mobile, .machine_dropdown_mobile, .external_dropdown_mobile, .case_dropdown_mobile, .task_dropdown_mobile {
            flex-direction: column;
            display: none;
            .dark_dropdown_table {
                background-color: $dark_dropdown_background;        
            }
            .light_dropdown_table {
                background-color: $light_dropdown_background;
            }
            :last-child {
                border-bottom: 2px solid $time_registration_navbar_border;
            }
        }
    }
    .button_container {
        display: none;
    }
    .employee_name_header {
        border-left: 5px solid #fff;
    }
}


/*----------------------------------
        Employees lists STOP
----------------------------------*/
.pop_up_modal {
    position: absolute;
    padding: 30px 0;
    width: 27vw;
    min-width: 400px;
    top: $nav_sec_height-m + $logged-in-height;
    left: 40vw;
    z-index: 99;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    border-bottom: 2.5px solid #149DB9;
    border-top: 2.5px solid #149DB9;
    box-shadow: 5px 10px 20px rgba($color: #000000, $alpha: 0.2);
    h3 {
        margin: 20px 0 30px 0;
        font-size: 23px;
    }
    .pop-up-row {
        margin: 15px 0;
        width: 63%;
        display: flex;
        align-items: center;
        p {
            flex: 2;
            text-align: end;
        }
        input {
            flex: 5;
            width: 60% !important;
            height: 30px;
        }
    }
    
    .pop-up-btn-container {
        display: flex;
        width: 70%;
        justify-content: space-between;   
        margin: 40px 0 20px 0;  
        .pop_up_cancel, .pop_up_confirm {
            width: 7vw;
            min-width: 90px;
            height: 35px;
            border: none;
            box-shadow: 5px 10px 20px rgba($color: #000000, $alpha: 0.2);
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
        }
        .pop_up_cancel {
            background-color: #EB7979;
        }

        .pop_up_confirm {
            background-color: #149DB9;
        }
    }
}




/*----------------------------------
        Harmonica lists
----------------------------------*/
.tasks_service_harmonica, .pl_service_harmonica{
    .tasks_service_headers, .pl_service_headers {
        border-bottom: 3px solid $th_border_bottom;
        padding: 5px 0;
        font-weight: 600;
        margin-top: 30px !important;
        border: 1px solid $th_border_bottom;
        .tasks_service_mobile_headers, .pl_service_mobile_headers {
            .tasks_service_name_header, .pl_service_element_headers {
                font-size: 20px;
                padding: 10px 5px;
            }
        }
        .tasks_service_all_headers, .pl_service_all_headers {
            display: none;
        }
    }
    .tasks_service_data_row, .pl_service_data_row {
        .tasks_service_information, .pl_service_information {
            background-color: $harmonica_header_background;
            border: 1px solid $tr_border_bottom;
            border-bottom: 2px solid $tr_border_bottom;
            padding: 10px 5px;
            
        }
    }
    .tasks_service_data_row_all_info, .planned_service_data_row_all_info {
        display: flex;
        flex-direction: column;
        display: none;
        border: 1px solid $tr_border_bottom;
        border-bottom: 2px solid $tr_border_bottom;
        padding: 10px 0;
        .tasks_service_title, .tasks_service_priority, .tasks_service_status, .tasks_service_last_service, .tasks_service_deadline, .tasks_service_updated_initials, .tasks_service_comment, 
        .pl_service_element, .pl_service_all, .pl_service_quantity, .pl_service_status, .pl_service_created_by, .pl_service_updated_by, .pl_service_comment
        {
            display: flex;
            padding: 5px 10px;
        }
        .dropdown_inline_headers {
            font-weight: 600;
            display: flex;
            width: 35% !important;
        }
        .tasks_service_title, .pl_service_element {
            font-size: 22px;
            padding: 5px 5px 10px 10px;
        }
        .button_container {
            display: flex;
            justify-content: flex-end;
            padding: 10px 20px;
        }
    }    
}




/*Tablet - S */
@media screen and(min-width: 900px) {
    .site_container { //every site can be seen right of navbar
        margin-left: $nav_with-s; 
    }
    .time_registration, .profile_list, .case_list_page, .calender_container, .task_list_page, .archived_case_list, .in_house_time  {
        width: $page-content-width-s;
        margin-left: $space-from-navbar-s;
        margin-top: 50px;
    }
}


/*Lille pc - M*/
@media screen and(min-width: 1200px) {
    .site_container { //every site can be seen right of navbar
        margin-left: $nav_with-l;    
    }
    .time_registration, .profile_list, .case_list_page, .calender_container, .task_list_page, .archived_case_list, .in_house_time  {
        width: $page-content-width-l;
        margin-left: $space-from-navbar-m;
        margin-top: 50px;
    }
    .time_registration_navbar, .in_house_time_navbar {
        button {
            font-size: 18px;
            width: 175px;
        }
    }
    .add_new_link {
        display: flex;
    }


    /*---------------------------
            Employees 1200
    ---------------------------*/
    .employee_list, .external_list, .machine_list, .case_list, .task_list {
        p {
            padding: 17px 0;
        }
        .employee_list_header, .external_list_header, .machine_list_header, .case_list_header, .task_list_header {
            display: flex;
        }
        //Div der holder alle andre headers og data
        .employee_all_headers, .machines_all_headers, .external_all_headers, .case_all_headers, .task_all_headers {
            display: flex !important;
            flex-direction: row;
        }
        //Div der holder navn og initialer, både header og data
        .mobile_employee_information, .mobile_external_information, .machine_information, .case_information, .task_information {
            flex-direction: row;
            display: flex;
            cursor: auto !important;
            border-bottom: none !important;
        }
        .employee_data_row, .external_data_row, .machine_data_row, .case_data_row, .task_data_row { //En hel række af data, al data per id
            display: flex;
            border-bottom: 2px solid $tr_border_bottom;
            .employee_dropdown_mobile, .external_dropdown_mobile, .machine_dropdown_mobile, .case_dropdown_mobile, .task_dropdown_mobile {
                display: flex;
                flex-direction: row;
                .light_dropdown_table, .dark_dropdown_table{
                    background-color: $no_colour; 
                }
                :last-child {
                    border-bottom: none !important;
                }
            }
        }
            .button_container, .button_container_header { //button container, crud, read and delete
                display: flex;
                width: 6.5vw !important;
                justify-content: space-between;
            }
    }
    /*------------------------------------------
                employee width 1200
    ------------------------------------------*/
    .employee_name, .employee_name_header {
        width: 11.5vw !important;
        padding-left: 15px !important;
    }   
    .employee_initials, .employee_initials_header {
        width: 5vw !important;
    }
    .employee_phone, .employee_phone_header {
        width: 6vw !important;
    }
    .employee_email, .employee_email_header{
        width: 21vw;
    }
    .employee_emergency, .employee_emergency_header {
        width: 13vw !important;
    }
    /*------------------------------------------
        Externals and suppliers width 1200
    ------------------------------------------*/
    .external_name_header, .external_name {
        width: 15vw !important;
        padding-left: 15px !important;
    }
    .external_phone, .external_phone_header {
        width: 8vw !important;
    }
    .external_email, .external_email_header{
        width: 20vw !important;
    }
    .external_product, .external_product_header {
        width: 13vw !important;
    }
    /*------------------------------------
            Machines width 1200
    ------------------------------------*/             
    .machine_name_header, .machine_name {
        width: 17.5vw !important;
        padding-left: 15px !important;
    }
    .machine_nordic_name_header, .machine_nordic_name {
        width: 30.5vw !important;
    }
    .machine_link_header, .machine_link {
        width: 16vw !important;
    } 
    /*------------------------------------
            cases width 1200
    ------------------------------------*/             
    .case_nr_header, .case_nr {
        width: 10vw !important;
        padding-left: 15px !important;
    }
    .case_responsible_header, .case_responsible, .case_status_header, .case_status {
        width: 8vw !important;
    }
    .case_location_header, .case_location {
        width: 18vw !important;
    }
    .case_est_start_header, .case_est_start, .case_deadline_header, .case_deadline, .case_archived_at_header, .case_archived_at {
        width: 10vw !important;
    }
    /*------------------------------------
            Task width 1200
    ------------------------------------*/      
    .task_name_header, .task_name {
        width: 20vw !important;
        padding-left: 15px !important;
    }
    .task_prority_header, .task_prority, .task_status_header, .task_status, .task_deadline_header, .task_deadline, .task_updated_initials_header, .task_updated_initials {
        width: 7.5vw;
    }
    .task_comment_header, .task_comment {
        width: 14vw;
    }



    /*----------------------------------
        Harmonica lists 1200
    ----------------------------------*/
    .tasks_service_harmonica, .pl_service_harmonica {
        .tasks_service_headers, .pl_service_headers {
            display: flex;
            padding: 15px 5px;       
            .tasks_service_all_headers, .tasks_service_name_header, .pl_service_all_headers, .pl_service_element_headers {
                display: flex !important;
                font-size: 17px !important;
            }
        }

        .tasks_service_name_header, .pl_service_element_headers {
            padding: 0 !important;
            width: 13.5vw;
        }
        .tasks_service_title, .pl_service_element {
            font-size: 17px;
            padding: 0;
            width: 13.5vw;
        }
        .tasks_service_priority_header, .tasks_service_priority {
            width: 5vw;
        }
        .tasks_service_status_header, .tasks_service_status {
            width: 7vw;
        }
        .tasks_service_last_service_header,.tasks_service_deadline_header, .tasks_service_last_service, .tasks_service_deadline {
            width: 9vw;

        }
        .tasks_service_updated_initials_header, .tasks_service_updated_initials {
            width: 6vw;

        }
        .tasks_service_comment_header, .tasks_service_comment {
            width: 14vw;

        }
        .button_container_header {
            width: 7vw;
        }
        .button_container {
            width: 7vw;
            display: flex;
            justify-content: space-between;
        }
            
        .tasks_service_data_row_all_info, .planned_service_data_row_all_info {
            flex-direction: row;
            .data_row_info {
                display: flex;
                padding: 5px;
                .tasks_service_title, .tasks_service_priority, .tasks_service_status, .tasks_service_last_service, .tasks_service_deadline, .tasks_service_updated_initials, .tasks_service_comment, 
                .pl_service_element, .pl_service_quantity, .pl_service_status, .pl_service_created_by, .pl_service_updated_by, .pl_service_comment {
                    font-size: 16px;  
                    padding: 0;
                }
            }
            .dropdown_inline_headers {
                display: none;
            }
             
        }
        .pl_service_all_headers, .pl_service_all {
            padding: 0;
        }
        .pl_service_quantity_header, .pl_service_quantity {
            width: 7vw;
        }
        .pl_service_status_header, .pl_service_status {
            width: 10vw;
        }
        .pl_service_created_by_header, .pl_service_created_by {
            width: 10vw;
        }
        .pl_service_updated_by_header, .pl_service_updated_by {
            width: 7.5vw;
        }
        .pl_service_comment_header, .pl_service_comment {
            width: 16.5vw;
        }
        .button_container_header, .button_container {
            width: 5vw;
        }

    }


}



/*Stor pc - L*/
@media screen and(min-width: 1600px) {
    /*---------------------------
            Employees
    ---------------------------*/
    .employee_list {
        .employee_initials, .employee_initials_header {
            width: 5vw !important;
        }
        .employee_phone, .employee_phone_header {
            width: 7.5vw !important;
        }
        .employee_email, .employee_email_header{
            width: 19vw !important;
        }
        .employee_emergency, .employee_emergency_header {
            width: 14vw !important;
        }
    }
    .button_container { //button container, crud, read and delete
        width: 3vw;
    }
    /*------------------------------------------
        Externals and suppliers width 1200
    ------------------------------------------*/
    .external_name_header, .external_name {
        width: 15vw !important;
    }
    .external_phone, .external_phone_header {
        width: 9.5vw !important;
    }
    .external_email, .external_email_header{
        width: 19vw !important;
    }
    /*------------------------------------
            Machines width 1200
    ------------------------------------*/       
    .machine_nordic_name_header, .machine_nordic_name {
        width: 32vw !important;
    }
    /*------------------------------------
            cases width 1200
    ------------------------------------*/             
    .case_location_header, .case_location {
        width: 19vw !important;
    }

    /*----------------------------------
        Harmonica lists 1600
    ----------------------------------*/
    .tasks_service_harmonica, .pl_service_harmonica {
        .tasks_service_name_header {
            width: 14.5vw;
        }
        .tasks_service_title {
            width: 14.5vw;
        }
        .tasks_service_comment_header, .tasks_service_comment {
            width: 16vw;
        }
        .button_container_header {
            width: 5vw;
        }
        .button_container {
            width: 5vw;
            display: flex;
        }
        .pl_service_comment_header, .pl_service_comment {
            width: 18vw;
        }
    }
    
}


