* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}



.time_registration, .profile_list, .calender_container, .task_list_page, .archived_case_list_page, .case_list_page, .in_house_time, .profile_page {
    width: $page-content-width;
    margin: 50px auto;
}



/*Tablet - S */
@media screen and(min-width: 900px) {
    .site_container { //every site can be seen right of navbar
        margin-left: $nav_with-s; 
    }
    //container for content on pages
    .time_registration, .profile_list, .case_list_page, .calender_container, .task_list_page, .archived_case_list, .in_house_time, .profile_page  {
        width: $page-content-width-s;
        margin-left: $space-from-navbar-s;
        margin-top: 50px;
    }
}


/*Lille pc - M*/
@media screen and(min-width: 1200px) {
    .site_container { //every site can be seen right of navbar
        margin-left: $nav_with-l;    
    }
    .time_registration, .profile_list, .case_list_page, .calender_container, .task_list_page, .archived_case_list, .in_house_time, .profile_page  {
        width: $page-content-width-l;
        margin-left: $space-from-navbar-m;
        margin-top: 50px;
    }



}


/*Stor pc - L*/
@media screen and(min-width: 1600px) {
    
}


