/*----------------------------------
        Harmonica lists
----------------------------------*/
.harmonica_container{
    .harmonica_headers {
        border-bottom: 3px solid $th_border_bottom;
        padding: 5px 0;
        font-weight: 600;
        margin-top: 30px !important;
        border: 1px solid $tr_border_bottom;
        border-bottom: 2px solid $th_border_bottom;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .harmonica_name_header, .harmonica_element_headers {
            font-size: 20px;
            padding: 10px 15px;
        }
        .harmonica_all_headers {
            display: none;
        }
    }
    .harmonica_data_row {
        .harmonica_information {
            background-color: $harmonica_header_background;
            border: 1px solid $tr_border_bottom;
            border-bottom: 2px solid $tr_border_bottom;
            padding: 10px 0 10px 15px;
            cursor: pointer;
        }
    }
    .harmonica_data_row_all_info {
        display: flex;
        flex-direction: column;
        display: none;
        border: 1px solid $tr_border_bottom;
        border-bottom: 2px solid $tr_border_bottom;
        padding: 10px 0;
        .harmonica_title, .harmonica_priority, .harmonica_status, .harmonica_last_service, .harmonica_deadline, .harmonica_updated_initials, .harmonica_comment, 
        .harmonica_element, .harmonica_all, .harmonica_quantity, .tasks_service_harmonica_status, .tasks_service_harmonica_last_service, .tasks_service_harmonica_deadline, .tasks_service_harmonica_comment,
        .tasks_service_updated_initials_header, .tasks_service_updated_initials, .tasks_service_harmonica_priority, .tasks_service_harmonica_priority_header {
            display: flex;
            align-items: center;
            padding: 10px 0 10px 15px;
        }
        .dropdown_inline_headers {
            font-weight: 600;
            display: flex;
            width: 35% !important;
        }
        .harmonica_title, .harmonica_element {
            font-size: 22px;
            padding: 5px 5px 10px 10px;
        }
    }    
        .button_container, .button_container_header {
            display: flex;
            justify-content: flex-end;
            padding: 10px 20px;
            button {
                margin-right: 25px;
                background: none;
                border: none;
                .edit_icons {
                    width: 15px;
                    cursor: pointer;
                }
            }
            
        }
}


/*Tablet - S */
@media screen and(min-width: 900px) {

}

/*Lille pc - M*/
@media screen and(min-width: 1200px) {
    .dropdown_inline_headers {
        display: none !important;
    }    
    /*----------------------------------
        Harmonica lists 1200
    ----------------------------------*/
    .harmonica_container {
        .harmonica_headers {
            display: flex;
            padding: 20px 0;       
            .harmonica_all_headers, .harmonica_all {
                display: flex !important;
                font-size: 17px !important;
                padding: 0;
            }
        }
        .harmonica_name_header, .harmonica_element_headers {
            display: flex !important;
            font-size: 17px !important;
            padding: 0 0 0 10px !important;
            border-left: 5px solid #fff;
            width: 14.5vw !important;
        }
        .harmonica_title, .harmonica_element {
            padding: 0;
            width: 14.5vw !important;
            padding-left: 10px !important;
        }
        .harmonica_data_row_all_info {
            flex-direction: row;
            .data_row_info {
                display: flex;
                .harmonica_title, .harmonica_priority, .harmonica_status, .harmonica_last_service, .harmonica_deadline, .harmonica_updated_initials, .harmonica_comment, 
                .harmonica_element, .harmonica_quantity, .harmonica_status, .harmonica_created_by, .harmonica_updated_by, .harmonica_comment {
                    font-size: 16px;  
                    padding: 0;
                }
            }

        }
        .harmonica_priority_header, .harmonica_priority, .harmonica_updated_initials_header, .harmonica_updated_initials,
        .harmonica_status_header, .harmonica_status, .harmonica_quantity_header, .harmonica_quantity {
            width: 10.8vw !important;
        }
        .tasks_service_harmonica_status_header, .tasks_service_harmonica_status,  
        .tasks_service_harmonica_priority, .tasks_service_harmonica_priority_header {
            width: 6.5vw;
            padding: 0 !important;
        }
        .tasks_service_harmonica_deadline_header, .tasks_service_harmonica_deadline, .tasks_service_harmonica_last_service_header, .tasks_service_harmonica_last_service {
            width: 9vw;
            padding: 0 !important;
        }
        .tasks_service_harmonica_comment, .tasks_service_harmonica_comment_header {
            width: 14vw;
            padding: 0 !important;
        }
        .tasks_service_updated_initials_header, .tasks_service_updated_initials {
            width: 6vw;
            padding: 0 !important;
        }
        .harmonica_comment_header, .harmonica_comment {
            width: 18vw !important;
        }
        .button_container, .button_container_header {
            justify-content: space-between;
            padding: 0;
            width: 5vw !important;
            padding-right: 10px;
            button {
                margin: 0;
            }
        }
    }

}


/*Stor pc - L*/
@media screen and(min-width: 1600px) {
    /*----------------------------------
        Harmonica lists 1600
    ----------------------------------*/
    .harmonica_contiainer {
        .harmonica_name_header, .harmonica_title {
            width: 14.5vw;
        }
        .harmonica_comment_header, .harmonica_comment {
            width: 18vw;
        }
    }
    .tasks_service_harmonica_comment, .tasks_service_harmonica_comment_header {
        width: 14.5vw !important;
    }
}


