/*---------------------------------
        Login page
---------------------------------*/

.login_page {
        background-image: url(../../img/index-background.jpeg);
        background-repeat: no-repeat;
        background-size:fixed;

}

.login_container {
        @include flex_column_center();
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 5px 5px 20px rgb(68, 68, 68);
        width: 80vw;
        margin: 20% auto;
        padding: 50px 20px;

        .login_header {
                font-size: 30px;
                color: #202020;
                padding: 30px 0;
        }
        .login_inputs {
                padding: 5px;
                width: 60%;
                margin: 7px;
                font-size: 20px;
        }
        .login_btn {
                width: 60%;
                border-radius: 5px;
                box-shadow: 5px 5px 20px rgb(68, 68, 68);
                color: #fff;
                font-size: 20px;
                padding: 10px;
                border: none;
                margin: 40px 0;
                background-color: $button_color_green;
                cursor: pointer;
                &:hover {
                        background-color: $button_color_green_hover;
                }
        }
        .error_message {
                margin-top: 20px;
                font-size: 22px;
        }
}



/*Tablet - S */
@media screen and(min-width: 900px) {
 .login_container {
        .login_header {
                font-size: 40px;
        }
 }   
}


/*Lille pc - M*/
@media screen and(min-width: 1200px) {
        
        .login_container {
                width: 50vw;
                margin: 15% auto;
        }

}


/*Stor pc - L*/
@media screen and(min-width: 1600px) {
        .login_container {
                max-width: 35vw;
                margin: 10% auto;
        }
    
}


