.pop_up_modal_container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.322);
    top: 0;
    left: 0;
}
.pop_up_modal {
    display: flex;
    height: fit-content;
    padding: 30px 0;
    width: 27vw;
    min-width: 400px;
    margin: auto;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid $button_color_green;
    border-top: 2.5px solid $button_color_green;
    box-shadow: 5px 10px 20px rgba($color: #000000, $alpha: 0.3);
    h3 {
        margin: 20px 0 35px 0;
        font-size: 23px;
    }
    .pop_up_selected_information {
        margin-bottom: 40px; //text to db check that you're deleting the right one
    }
    .pop-up-row {
        margin: 10px 0;
        width: 63%;
        display: flex;
        align-items: center;
        p {
            flex: 3;
            text-align: end;
        }
        input, select {
            flex: 5;
            width: 60% !important;
            height: 30px;
        }
    }
    
    .pop-up-btn-container {
        display: flex;
        width: 70%;
        justify-content: space-between;   
        margin: 40px 0 20px 0;  
        #one_button_center {
            margin: 0 auto;
        }
        .pop_up_cancel, .pop_up_confirm {
            width: 7vw;
            min-width: 90px;
            height: 35px;
            border: none;
            box-shadow: 5px 10px 20px rgba($color: #000000, $alpha: 0.2);
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
        }
        .pop_up_cancel {
            background-color: $button_color_red;
            &:hover {
                background-color: $button_color_red_hover;
            }
        }

        .pop_up_confirm {
            background-color: $button_color_green;
            &:hover {
                background-color: $button_color_green_hover;
            }
        }
    }
    //time registration options
    .dropdown {
        width: 40%;
        max-width: 200px;
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            li {   
                margin: 8px 0;
                display: flex;
                width: 100%;
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 30px;
                    background-color: #fff;
                    border: 2px solid #C6D7FF;
                    border-radius: 7px;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.068);
                    &:hover {
                        background-color: #C6D7FF;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

/*Tablet - S */
@media screen and(min-width: 900px) {
}


/*Lille pc - M*/
@media screen and(min-width: 1200px) {
    .pop_up_modal {
        width: 35vw;
    }

}


/*Stor pc - L*/
@media screen and(min-width: 1600px) {
    
}


