/*------------------
      colours
------------------*/
/*Navbar*/
$main-nav: #051451;
$logo-nav: #31417C;
$logo-border-bottom-nav: #3D569C;
$nav-link-hover: #254486;
$light-sec-nav: #B2C7F9;
$light-sec-nav-border-bottom: #87AFFF;
$log_out_blue: #000C3D;
$log_out_blue_hover: #000830;
$time_registration_navbar_border: #149DB9;
$time_registration_navbar_active: #EAF3FF;
$time_registration_navbar_active_hover: #D5E7FF;

$time_navbar_blue: #D0DDFB;

/* Table colours */
$tr_border_bottom: #AEBFF6;
$th_border_bottom: #5068CB;
$dark_dropdown_background: #ECF0FD;
$light_dropdown_background: #FAFBFF;
$no_colour: rgba($color: #000000, $alpha: 0);
$harmonica_header_background: #EEF2FD;

/* font colors */
// $paragraphs:;
// $small_headers:;
// $large_headers:;

/*------------------------
        navbars
------------------------*/
$nav_with: 14vw;
$nav_with-s: 22vw;
$nav_with-l: 16vw;
$nav_sec_height: 6vh;
$nav_sec_height-s: 12vh;
$nav_sec_height-m: 14vh;
$nav_sec_height-l: 14vh;
$logged-in-height: 6vh;
$logged-in-height-s: 5vh;


/*----------------------
      Page content
----------------------*/
$page-content-width: 90vw;
$page-content-width-s: 68vw;
$page-content-width-m: 72vw;
$page-content-width-l: 72vw;

$space-from-navbar: 30px;
$space-from-navbar-s: 50px;
$space-from-navbar-m: 100px;

//other
$button_color_green: #149DB9;
$button_color_green_hover: #118EA8;
$button_color_red: #EB7979;
$button_color_red_hover: #E36E6E;

$drop_shadow: 5px 10px 20px rgba($color: #000000, $alpha: 0.3);
$drop_shadow_mild: 5px 5px 10px rgba(0, 0, 0, 0.1);