/*------------------
      colours
------------------*/
/*Navbar*/
$main-nav: #051451;
$logo-nav: #31417C;
$logo-border-bottom-nav: #3D569C;
$nav-link-hover: #254486;
$light-sec-nav: #B2C7F9;
$light-sec-nav-border-bottom: #87AFFF;
$sec-navbar-dropdwon-border: #87AFFF;
$log_out_blue: #000C3D;
$time_registration_navbar_border: #149DB9;
$time_registration_navbar_active: #EAF3FF;
$time_registration_navbar_active_hover: #D5E7FF;


/*------------------------
        navbars
------------------------*/
$nav_with: 14vw;
$nav_with-s: 22vw;
$nav_with-l: 16vw;
$nav_sec_height: 6vh;
$nav_sec_height-s: 12vh;
$nav_sec_height-m: 14vh;
$nav_sec_height-l: 14vh;
$logged-in-height: 6vh;
$logged-in-height-s: 5vh;



/*----------------------
      Page content
----------------------*/
$page-content-width: 90vw;
$page-content-width-s: 68vw;
$page-content-width-m: 72vw;
$page-content-width-l: 72vw;

$space-from-navbar: 30px;
$space-from-navbar-s: 50px;
$space-from-navbar-m: 100px;

